.git/
.github/

**/__pycache__/
**/*.pyc
**/venv/
**/.venv/

**/node_modules/
**/dist/

data/
uploads/
backups/
backend/data/
backend/uploads/
backend/backups/
backend/.devdata/
backend/.devuploads/
backend/.devbackups/

.env
.DS_Store
